
body { 
    background: url(../../slike/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

#prozirnost{
    background: #343a40;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 0px 0px 20px 20px;
    height: 100%;
    postion: fixed;
}

.loginForma{
    width: 320px;
    height: 440px;
    background: #343a40;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -80px;
    left: calc(50% - 50px);
}
.loginForma p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.loginForma input{
    width: 100%;
    margin-bottom: 20px;
}

.loginForma input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.loginForma button[type="button"]{
    border: none;
    outline: none;
    height: 40px;
    background: skyblue;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    width: 100%;
    margin-bottom: 40px;
}
.loginForma button[type="button"]:hover{
    cursor: pointer;
    background: #fff;
    color: black;
}
.loginForma a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    position: absolute;
    
}
.loginForma a:hover{
    color: skyblue;
}
.prosirenjeIndex{
    height: 1050px;
}
.prosirenje{
    height: 490px;
 }
.prosirenjeIndex h1{
    margin-bottom: 30px;
    text-align: center;
}
.loginForma h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
    margin-top: -35px;
}
.avioncic{    
    margin-top: -450px;
    opacity: 0.2;
    
}
.footer{
    width: 100%;
    height: auto;
    margin: auto;
    background: #272727;
    padding: 20px;
    border-radius: 20px 20px 0px 0px;
    position: fixed;
    bottom: 0px;
}
.footerIcons{
    width: 100%;
    height: 50px;
    margin: 10px;
    margin-top: -45px;
}
.footerIcons ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.footerIcons li{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    border-radius:  100%;
    background: skyblue;
}
.footerIcons ul li a{
    color: #272727;
    font-size: 25px;
}
.footerIcons ul li:hover{
    cursor: pointer;
    background: #fff;
    color: black;
}
.footerIcons ul li a i{
    line-height: 50px;
}
.footerIcons h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 10px;
    color: #fff;
    margin-top: 10px;
}

.stil{
    text-decoration: none;
    color: #3366BB;
}
.stil :hover{
    cursor: pointer;
    color: 	#0B0080;
}
.btnPovratak{
    margin: 0;
    padding: 10px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: 40px

}
.kartaPutnik{
    margin-left: 40%;
    padding-top: -600px;
}
.prosirenjeKarta{
    height: 900px;
}
.btnPotvrdi{
    margin-left: 50px;
}
.kartaTable{
    margin-top: -75px
}
.pregledKor h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
    margin-top: -35px;
}
.pregledKorAdmin{
    width:  500px;
}
.btnPovratakAdmin{
    margin: 0;
    padding: 10px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
    margin-left: 170px
}
.btnKontakt{
    margin-right: 50px;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 90%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }
  .gornjeSlike{
      margin-right: 5%;
      margin-bottom: 30px;
      margin-left: 1000px;

  }
  .gornjeSlikeP{
      margin-left: 4%;
      margin-top: -30px;

  }
  .donjeSlike{
      margin-left: 16%;
    
  }
.passwordCheck{
    margin-left: -120px;
    margin-bottom: 10px;
    margin-top: -30px;
    margin-right: 3px;
}
.eye{
    margin-left: -120px;
    
}
.avioncicIndex{
    margin-top: -400px;
    opacity: 0.2;
    position: fixed;
}
.combobox1{
    margin-bottom: 20px;
    border-radius: 2px;
    background: #272727;
    color: white;
    float: left;
}
.btnIzmena{
    margin: 0;
    padding: 10px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: 40px
}
.izmenah1 h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 8px;
    margin-top: -50px;
}
.izmenaTable{
    margin-bottom: 10px;
}
.izmenah1{
    width: 400px;
}
.btnLetovi{
    margin: 0;
    padding: 10px;
    text-align: center;
    width: 120px;
    margin-bottom: 50px;
    margin-top: -20px;
    margin-left: 70px
}
.btnPovratakSedista{
    margin-left: 850px;
}
#overlay {
    position: fixed; 
    display: none; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.363); 
    z-index: 2; 
    cursor: pointer; 
  }
  .izlazOver
  {
      float: right;
  }
.tabelaSedista{
    margin-top: -50px
}
.sedistaForma{
    width: 400px;
    height: 600px;
    background: #343a40;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.btnPovratakKarta{
    margin-left: 30px;
}
.tabelaForma{
	margin-top: 150px;
	margin-bottom: 100px;
    background: #343a40;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    
}
.optionBox{
    height: 25px;
    border-radius: 2px;
    background: #272727;
    color: white;
}
.fly-in-text {
    list-style: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.fly-in-text li {
    display: inline-block;
    margin-right: 50px;
    font-family: Open Sans, Arial;
    font-weight: 300;
    font-size: 3em;
    color: white;
    opacity: 1;
    transition: all 2.5s ease;
}
.fly-in-text li:last-child {
    margin-right: 0;
}
.fly-in-text.hidden li {
    opacity: 0;
}
.fly-in-text.hidden li:nth-child(1) { transform: translateX(-200px) translateY(-200px); }
.fly-in-text.hidden li:nth-child(2) { transform: translateX(20px) translateY(100px); }
.fly-in-text.hidden li:nth-child(3) { transform: translateX(-150px) translateY(-80px); }
.fly-in-text.hidden li:nth-child(4) { transform: translateX(10px) translateY(-200px); }
.fly-in-text.hidden li:nth-child(5) { transform: translateX(-300px) translateY(200px); }
.fly-in-text.hidden li:nth-child(6) { transform: translateX(20px) translateY(-20px); }
.fly-in-text.hidden li:nth-child(7) { transform: translateX(30px) translateY(200px); }